<!--
Created: 2018-11-20
Author : liuzhijie
-->
<style>
    .layui-upload-img {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .upImg {
        width: 400px;
        height: 400px;
    }


</style>

<div class="layui-row layui-col-space15">
    <!-- 列表展示 -->
    <div class="layui-col-md12 card-show-list">
        <div class="layui-card">
            <div class="layui-card-header">表单管理</div>
            <div class="layui-card-body">
                <table id="tableContent-form2" lay-filter="tableContent-form2"></table>
            </div>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="control-2">
    <button class="layui-btn layui-btn-primary" lay-event="edit2">编辑</button>
    <button class="layui-btn layui-btn-normal upload2" lay-event="upload2">图片上传</button>
</script>

<!--表格数据根据不同的状态显示不同的颜色-->
<!--<script type="text/html" id="statusTpl">
    {{# if (d.status == 0) { }}
    <span style="color: #9ACD32;">成功</span>
    {{# }else if (d.status == 1){ }}
    <span style="color: #E1E100;">警告</span>
    {{# }else if (d.status == 2){ }}
    <span style="color: #EE0000;">危险</span>
    {{# } }}
</script>-->

<!--显示上传的图片-->
<script type="text/html" id="picTpl">
    <div class="imgsT"></div>
</script>

<script>

    layui.use(['table', 'form', 'upload'], function () {
        let table = layui.table,
            form = layui.form,
            config = layui.config,
            admin = layui.admin,
            layer = layui.layer,
            upload = layui.upload;

        let ids = [],  // 选中的数据的 id
            table_data = []; // tabke的全部数据

        // 渲染表格
        table.render({
            elem: '#tableContent-form2',
            id: 'tableContent-form2',
            url: admin.formatUrl('/api/form'),
            // 格式化后台返回的数据
            parseData: function (res) {
                return {
                    "code": res.respCode, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.count, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            },
            done: function (res, curr, count) {
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度

                showTrColor();  //表格数据根据不同的状态显示不同的颜色
                loadCheckBox(res.data);//加载之前选中的复选框
                uploadRender(); //上传图片功能渲染

            },
            height: 472,
            cols: [
                [{
                    type: 'checkbox'
                }, {
                    field: 'formName',
                    title: '表单名称',
                    edit: 'text'
                }, {
                    field: 'formCode',
                    title: '表单编号',
                    align: 'center',
                }, {
                    field: 'createTime',
                    title: '创建时间',
                    align: 'center',
                    sort: true,
                }, {
                    field: 'createName',
                    title: '创建人',
                    align: 'center',
                    edit: 'text'
                }, {
                    field: 'version',
                    title: '编辑次数',
                    align: 'center'
                }, {
                    field: 'status',
                    title: '状态',
                    align: 'center'
                }, {
                    templet: '#picTpl',
                    title: '图片',
                    align: 'center'
                }, {
                    templet: '#control-2',
                    title: '操作',
                    align: 'center',
                    width: 200,
                    unresize: false
                }]
            ],
            cellMinWidth: 120,
            page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip']
            },
            request: {
                pageName: 'pageNo',
                limitName: 'pageSize'
            },
            where: {
                design: 0
            }
        });

        // 监听工具条事件
        table.on('tool(tableContent-form2)', function (obj) {
            // 获取点击列的数据
            let data = obj.data;
            let layEvent = obj.event;
            let tr = obj.tr;
            // 判断操作类型
            if (layEvent === 'edit2') {
                // 编辑表单
                popMenu('edit2', data);
            }


            //表格数据根据不同的状态显示不同的颜色
            /*if (data.status == 0){
                $(tr).css("color","#9ACD32");
            } else if (data.status == 1) {
                $(tr).css("color","#E1E100");
            }else if (data.status == 2) {
                $(tr).css("color","#EE0000");
            }*/
        });


        //监听 “提交” 按钮
        form.on('submit(menuSave-role)', (data) => {
            admin.req('/api/form', data.field, (result) => {
                admin.closePopupCenter();
            })
        })

        //监听“取消”按钮
        form.on('submit(popmenuCancle)', (data) => {
            admin.closePopupCenter();
        })

        //表格联动
        //表单名称 和 创建人 联动
        table.on('row(tableContent-form2)', function (obj) {
            let linkageObjArray = [{'formName': 'f1', 'createName': 'c1'},
                {'formName': 'f2', 'createName': 'c2'},
                {'formName': 'f3', 'createName': 'c3'}]
            for (let linkageObj of linkageObjArray) {
                if (obj.data.createName == linkageObj.createName) {
                    $(obj.tr).children('td[data-field =\'formName\']').text(linkageObj.formName);
                }
                if (obj.data.formName == linkageObj.formName) {
                    $(obj.tr).children('td[data-field =\'createName\']').text(linkageObj.createName);
                }
            }
        });

        //复选框选中监听
        table.on('checkbox(tableContent-form2)', function(obj){
            if(obj.checked==true){
                if(obj.type=='one'){
                    ids.push(obj.data.formCode);
                }else{
                    for(var i=0;i<table_data.length;i++){
                        ids.push(table_data[i].formCode);
                    }
                }
            }else{
                if(obj.type=='one'){
                    for(var i=0;i<ids.length;i++){
                        if(ids[i]==obj.data.formCode){
                            ids.splice(i);
                        }
                    }
                }else{
                    for(var i=0;i<ids.length;i++){
                        for(var j=0;j<table_data.length;j++){
                            if(ids[i]==table_data[j].formCode){
                                ids.splice(i);
                            }
                        }
                    }
                }
            }
        });

        // 弹出框
        function popMenu(type, data) {
            if (type == 'edit2') {
                var title = '编辑表单：' + data.formName
            } else if (type == 'upload2') {
                var title = '上传图片'
            }

            data.type = type;
            admin.popupCenter({
                title: title,
                path: 'components/tpl/ctform_forms_tpl_edit.html',
                finish: function () {
                    table.reload('tableContent-form2');
                },
                success: function () {
                    setFormValue(data);
                    loseBlur();
                }
            });
        }

        // 设置表单内容
        function setFormValue(obj) {
            let formNames = ['formCode', 'formName', 'createName', 'version'],
                valSetting = {};  //表单初始值
            for (let i = 0; i < formNames.length; i++) {
                if (obj[formNames[i]]) {
                    valSetting[formNames[i]] = obj[formNames[i]]
                } else {
                    valSetting[formNames[i]] = ''
                }
            }
            form.val("forms_tpl", valSetting); //表单初始赋值
        }

        //失去焦点验证
        function loseBlur() {
            let inputs = $('.p-form').find('input');
            for (let input of inputs) {
                let verifyVal = $(input).attr('lay-verify');
                if (verifyVal == 'required') {
                    input.onblur = (e) => {
                        if ($(input).val() == '') {
                            layer.alert('该项不能为空！！');
                        }
                    }
                } else if (verifyVal == 'number') {
                    input.onblur = (e) => {
                        if ($(input).val() != '' && !/^\d{1,}$/.test($(input).val())) {
                            layer.alert('该项只能填数字！！');
                            $(input).val('');
                        }
                    }
                }
            }
        }

        //表格数据根据不同的状态显示不同的颜色
        function showTrColor() {
            for (let tr of $('tbody tr')) {
                let status = $(tr).children('td[data-field =\'status\']').text();
                if (status !== undefined && status == 0) {
                    $(tr).css("color", "#9ACD32");
                } else if (status == 1) {
                    $(tr).css("color", "#E1E100");
                } else if (status == 2) {
                    $(tr).css("color", "#EE0000");
                }
            }
        }

        //上传图片功能渲染
        function uploadRender() {
            upload.render({
                elem: '.upload2' //绑定元素
                , url: '/upload/' //上传接口
                , auto: false
                , multiple: true
                , choose: function (obj) {
                    var files = obj.pushFile();
                    var item = this.item;
                    //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                    obj.preview(function (index, file, result) {
                        $(item).parents('tr').find('.imgsT').append(`<img  onclick="clickImgForms(this)" src="${result}" alt="${file.name}" class="layui-upload-img">`)
                    });
                }
            });

        }

        //加载之前选中的复选框
        function loadCheckBox (data) {
            console.log("loadCheckBox")
            table_data=data;
            for(let i=0;i<data.length;i++){
                for (let j = 0; j < ids.length; j++) {
                    //数据id和要勾选的id相同时checkbox选中
                    if(data[i].formCode == ids[j])
                    {
                        //这里才是真正的有效勾选
                        data[i]["LAY_CHECKED"]='true';
                        //找到对应数据改变勾选样式，呈现出选中效果
                        let index= data[i]['LAY_TABLE_INDEX'];
                        $('.layui-table-main tr[data-index=' + index + '] input[type="checkbox"]').prop('checked', true);
                        $('.layui-table-main tr[data-index=' + index + '] input[type="checkbox"]').next().addClass('layui-form-checked');
                    }
                }
            }
        }

    });

    /**
     * 点击图片预览
     * @param imgDom  要展示的dom对象
     */
    function clickImgForms(imgDom) {
        let srcData = $(imgDom).attr("src");
        layer.open({
            type: 1,
            title: false,
            area: ['400px', '400px'],
            closeBtn: 0,
            shadeClose: true,
            content: `<img  src="${srcData}" class="upImg" />`
        });
    }


</script>