<style>
    html{
        overflow-x: hidden;
        width: 98%;
    }
    .layui-table-cell{
        margin: 0;
        padding: 0;
        height: 100%;
    }
    .table-title-blue{
        height: 100%;
        background-color: #D7EBFF;
    }
    .table-title-pink{
        height: 100%;
        background-color: #FFD7D7;
    }
    .layui-table>thead>tr>th{
        padding: 0px!important;
    }
    .d6-title{
        width: 100%;
        height: 75px;
        margin: 0;
    }
    .d6-table{
        width: 96%;
        margin: 0 2% 0 2%;
    }
    .d6-title-bottom-item{
        float: left;
        width: 21%;
        display: inline-block;
        padding: 5px 2% 0 2%;
    }
    .d6-title-bottom-item>span{
        width: 50%;
        text-align: right;
        color: #6495ED;
    }
    .d6-title-bottom-item>input{
        float: right;
        width: 50%;
        background-color: #F7F7F7;
        border: none;
        height: 25px;
    }

</style>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12 autoScrollLeft">
        <div class="layui-card">
            <div class="d6-title">
                    <div class="d6-title-bottom-item">
                        <span>项目单编号：</span>
                        <input type="text" disabled="disabled" value="xxx-xxx-xxx">
                    </div>
                    <div class="d6-title-bottom-item">
                        <span>BETA：</span>
                        <input type="text" disabled="disabled" value="xxx-xxx-xxx">
                    </div>
                    <div class="d6-title-bottom-item">
                        <span>GAMMA：</span>
                        <input type="text" disabled="disabled" value="xxx-xxx-xxx">
                    </div>
                    <div class="d6-title-bottom-item">
                        <span>3C Pilot：</span>
                        <input type="text" disabled="disabled" value="xxx-xxx-xxx">
                    </div>
                    <div class="d6-title-bottom-item">
                        <span>项目车型/机型：</span>
                        <input type="text" disabled="disabled" value="xxx-xxx-xxx">
                    </div>
                    <div class="d6-title-bottom-item">
                        <span>Piolt：</span>
                        <input type="text" disabled="disabled" value="xxx-xxx-xxx">
                    </div>
            </div>
            <div class="d6-table">
                <table id="d6-table-tab1" lay-filter="d6-table-tab1"></table>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use('table',function () {
        var table = layui.table,
            admin = layui.admin,
            $ = layui.$;

        table.render({
            elem: '#d6-table-tab1',
            id: 'd6-table-tab1',
            url: admin.formatUrl('api/testYb/demo06'),
            //转换返回的结果集
            parseData: function (res) {
                return {
                    "code": res.respCode,
                    "msg": res.message,
                    "count": res.data.count,
                    "data": res.data.list
                }
            },
            cols: [
                [
                    {
                        title: '<div style="background-color: #D7EBFF;height: 100%">基础信息</div>',
                        align: 'center',
                        colspan: 10
                    },
                    {
                        title: '<div style="background-color: #CDFFCD">零件批发计划-系统回写</div>',
                        align: 'center',
                        colspan: 12
                    },
                    {
                        title: '<div style="background-color: #FFFFCD">OTS认可</div>',
                        align: 'center',
                        colspan: 6
                    },
                    {
                        title: '<div style="background-color: #F3F3F3">外观认可</div>',
                        align: 'center',
                        colspan: 5
                    },
                    {
                        title: '<div style="background-color: #CDFFCD">FE认可</div>',
                        align: 'center',
                        colspan: 5
                    }
                ],
                [
                    {
                        type: 'numbers',
                        title: '<div class="table-title-blue" style="padding: 35% 0 35% 0">序号</div>',
                        align: 'center'
                    },
                    {
                        field: '1-2',
                        title: '<div class="table-title-blue" style="padding: 9% 0 9.7% 0">零件号R</div>',
                        align: 'center'
                    },
                    {
                        field: '1-3',
                        title: '<div class="table-title-blue" style="padding: 9% 0 9.7% 0">零件名称R</div>',
                        align: 'center'
                    },
                    {
                        field: '1-4',
                        title: '<div class="table-title-blue">增删A/D<br>(A:增加,D:删除)R</div>',
                        align: 'center'
                    },
                    {
                        field: '1-5',
                        title: '<div class="table-title-pink" style="padding: 9% 0 9.7% 0">SQ科室</div>',
                        align: 'center'
                    },
                    {
                        field: '1-6',
                        title: '<div class="table-title-pink" style="padding: 9% 0 9.7% 0">SQE1</div>',
                        align: 'center'
                    },
                    {
                        field: '1-7',
                        title: '<div class="table-title-white" style="padding: 9% 0 9.7% 0">PER</div>',
                        align: 'center'
                    },
                    {
                        field: '1-8',
                        title: '<div class="table-title-pink">供应商1<br>(本行跟踪)</div>',
                        align: 'center'
                    },
                    {
                        field: '1-9',
                        title: '<div class="table-title-pink" style="padding: 9% 0 9.7% 0">供应商1代码</div>',
                        align: 'center'
                    },
                    {
                        field: '1-10',
                        title: '<div class="table-title-pink" style="padding: 9% 0 9.7% 0">EWO编号</div>',
                        align: 'center'
                    },
                    {
                        field: '2-1',
                        title: '<div class="table-title-white">OPAP/PPAP<br>批准状态</div>',
                        align: 'center'
                    },
                    {
                        field: '2-2',
                        title: '<div class="table-title-white">PPAP计划<br>最早</div>',
                        align: 'center'
                    },
                    {
                        field: '2-3',
                        title: '<div class="table-title-white">OPAP/PPAP认可延迟原因<br>(刺穿S阀/TDC交付)</div>',
                        align: 'center'
                    },
                    {
                        field: '2-4',
                        title: '<div class="table-title-white" style="padding: 9% 0 9.7% 0">OPAP批准PCD</div>',
                        align: 'center'
                    },
                    {
                        field: '2-5',
                        title: '<div class="table-title-white" style="padding: 9% 0 9.7% 0">OPAP批准ACD</div>',
                        align: 'center'
                    },
                    {
                        field: '2-6',
                        title: '<div class="table-title-white" style="padding: 9% 0 9.7% 0">升级高风险描述</div>',
                        align: 'center'
                    },
                    {
                        field: '2-7',
                        title: '<div class="table-title-white" style="padding: 9% 0 9.7% 0">S-PPAP批准PCD</div>',
                        align: 'center'
                    },
                    {
                        field: '2-8',
                        title: '<div class="table-title-white" style="padding: 9% 0 9.7% 0">S-PPAP批准ACD</div>',
                        align: 'center'
                    },
                    {
                        field: '2-9',
                        title: '<div class="table-title-white" style="padding: 9% 0 9.7% 0">临时批准原因</div>',
                        align: 'center'
                    },
                    {
                        field: '2-10',
                        title: '<div class="table-title-white" style="padding: 9% 0 9.7% 0">F-PPAP批准PCD</div>',
                        align: 'center'
                    },
                    {
                        field: '2-11',
                        title: '<div class="table-title-white" style="padding: 9% 0 9.7% 0">F-PPAP批准ACD</div>',
                        align: 'center'
                    },
                    {
                        field: '2-12',
                        title: '<div class="table-title-white" style="padding: 9% 0 9.7% 0">计划更变备注</div>',
                        align: 'center'
                    },
                    {
                        field: '3-1',
                        title: '<div class="table-title-white" style="padding: 9% 0 9.7% 0">计划完成时间</div>',
                        align: 'center'
                    },
                    {
                        field: '3-2',
                        title: '<div class="table-title-pink" style="padding: 9% 0 9.7% 0">状态</div>',
                        align: 'center'
                    },
                    {
                        field: '3-3',
                        title: '<div class="table-title-white">条件认可<br>实际完成时间</div>',
                        align: 'center'
                    },
                    {
                        field: '3-4',
                        title: '<div class="table-title-white">完全认可<br>实际完成时间</div>',
                        align: 'center'
                    },
                    {
                        field: '3-5',
                        title: '<div class="table-title-blue" style="padding: 9% 0 9.7% 0">认可类型</div>',
                        align: 'center'
                    },
                    {
                        field: '3-6',
                        title: '<div class="table-title-white" style="padding: 9% 0 9.7% 0">封样完成状态</div>',
                        align: 'center'
                    },
                    {
                        field: '4-1',
                        title: '<div class="table-title-white" style="padding: 9% 0 9.7% 0">计划完成时间PCD</div>',
                        align: 'center'
                    },
                    {
                        field: '4-2',
                        title: '<div class="table-title-pink" style="padding: 9% 0 9.7% 0">状态</div>',
                        align: 'center'
                    },
                    {
                        field: '4-3',
                        title: '<div class="table-title-white">条件认可<br>实际完成时间</div>',
                        align: 'center'
                    },
                    {
                        field: '4-4',
                        title: '<div class="table-title-white">完全认可<br>实际完成时间</div>',
                        align: 'center'
                    },
                    {
                        field: '4-5',
                        title: '<div class="table-title-white" style="padding: 9% 0 9.7% 0">封样完成状态</div>',
                        align: 'center'
                    },
                    {
                        field: '5-1',
                        title: '<div class="table-title-white">计划完成时间<br>PCDR</div>',
                        align: 'center'
                    },
                    {
                        field: '5-2',
                        title: '<div class="table-title-pink" style="padding: 9% 0 9.7% 0">状态R</div>',
                        align: 'center'
                    },
                    {
                        field: '5-3',
                        title: '<div class="table-title-white">条件认可<br>实际完成时间R</div>',
                        align: 'center'
                    },
                    {
                        field: '5-4',
                        title: '<div class="table-title-white">完全认可<br>实际完成时间</div>',
                        align: 'center'
                    },
                    {
                        field: '5-5',
                        title: '<div class="table-title-white" style="padding: 9% 0 9.7% 0">封样完成状态RR</div>',
                        align: 'center'
                    }
                ]
            ],
            cellMinWidth: 150,
            done: function (res, curr, count) {
//                var s = $('.layui-table-header');
//                //这是一个笨办法暂时想不到其他方法，layui冻住的列是将该列提取出来新建一个表格然后覆盖，
//                // 这样会导致多级列表头的样式发生变化，所以我将上层表格的高度缩小露出下层的表头
//               $(s[1]).attr("style","height: '28%'");
//               $(".layui-table-fixed-l").css({"margin": "3% 0 0 0"});
            }

        })
        console.log(111)
    })
</script>