<style>
    .d8-message-remind{
        width: 98%;
        height: auto;
        margin: 1% 1% 0 1%;
    }
    .row-line{
        width: 92%;
        height: 1px;
        background-color: #000000;
        display: inline-block;
        vertical-align: top;
        margin: 1% 0 0 0;
    }
    .d8-data-select{
        width: 98%;
        height: auto;
        margin: 1% 1% 0 1%;
    }
    .d8-data-select-table{
        width: 95%;
        height: 135px;
        margin: 5px 2% 0 2%;
        border-left: 1px solid #000000;
    }
    .d8-data-select-table-item{
        text-align: center;
        width: 10%;
        height: 45px;
    }
    .d8-data-select-table-value{
        width: 10%;
        height: 45px;
    }
    .d8-data-select-table-value>input{
        width: 96%;
        height:60%;
    }
    .d8-hidden-select-btn{
        float: right;
        margin: 2% 5px 0 0;
        border: none;
        background: none;
        color: #0e90d2;
    }
    .d8-hidden-select-btn:active{
        color: #4E5465;
    }
    .d8-hidden-select-btn:hover{
        cursor: pointer;
    }
    .d8-menu-list{
        float: none;
        width: 98%;
        height: auto;
        margin: 1% 1% 0 1%;
    }
    .d8-menu-list-btn{
        float: right;
        margin: 0 1% 0 0;
        background: none;
        border: none;
    }
    .d8-menu-list-btn:active{
        color: #5e5e5e;
    }
    .d8-menu-list-table{
        width: 95%;
        overflow-x: scroll;
        margin: 1% 0 0 0;
        padding: 0 50px 0 0;
    }
    .d8-menu-list-table-head{
        height: 45px;
    }
    .d8-menu-list-table-head>th{
        min-width: 60px;
    }
    .d8-menu-list-table-row{
        height: 45px;
    }
    .d8-menu-list-table-row>td{
        text-align: center;
        min-width: 60px;
    }
    .d8-menu-list-table-row>td>select{
        width: 96%;
    }
    .d8-menu-list-table-row>td>input[type=text]{
        width: 96%;
        height: 40px;
        border: none;
    }
    .d8-menu-table-bg-1{
        background-color: #B7DFE9;
    }
    .d8-menu-table-bg-2{
        background-color: #E5E5E5;
    }
    .d8-message-remind-content{
        width: 0;
        height: 0;
        margin: 0;
        border: none;
    }
    .d8-message-remind-head{
        height: 45px;
        background-color: #D7EBFF;
    }
    .d8-message-remind-row{
        height: 45px;
    }
    .d8-message-remind-row>td{
        text-align: center;
    }
    .d8-select-inputShow{
        position: absolute;
        width: 110px;
        height: 50px;
        background-color: #FFFFFF;
        display: none;
        border: 1px solid #000000;
    }
    .d8-select-inputShow-item{
    }
    .d8-select-inputShow-item:hover{
        cursor: pointer;
    }
</style>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12 autoScrollLeft">
        <div class="layui-card">
            <!--消息提醒-->
            <div class="d8-message-remind">
                <div>
                    <button id="d8-btn-message">消息提醒</button>
                    <div class="row-line"></div>
                </div>
                <!--未处理消息-->
                <div class="d8-message-remind-content">
                    <div style="width: 100%;height: 20px;background-color: #0078FF;color: #FFFFFF">尚有<span id="d8-span-message-num">X</span>条待处理消息</div>
                    <table style="width: 98%;margin: 1%;display: none" border="1">
                        <tr class="d8-message-remind-head">
                            <th width="4%">序号</th>
                            <th width="10%">项目跟踪单单号</th>
                            <th width="9%">项目车型/机型</th>
                            <th width="8%">供应商代码</th>
                            <th width="8%">供应商名称</th>
                            <th width="8%">最新零件号</th>
                            <th width="8%">零件名称</th>
                            <th width="8%">初始零件号</th>
                            <th width="7%">负责PE</th>
                            <th width="6%">原SQE</th>
                            <th width="14%">备注</th>
                            <th width="9%">变更SQE</th>
                        </tr>

                        <script type="text/html" id="d8MessageRow">
                            {{# var rows = d.data.list; }}
                            {{# $.each(rows,function(i,v){ }}
                                <tr class="d8-message-remind-row">
                                    <td>{{ i+1 }}</td>
                                    <td>{{ v.proTracNum }}</td>
                                    <td>{{ v.proVE }}</td>
                                    <td>{{ v.suppCode }}</td>
                                    <td>{{ v.suppName }}</td>
                                    <td>{{ v.partsNewNum }}</td>
                                    <td>{{ v.partsName }}</td>
                                    <td>{{ v.initPartsNum }}</td>
                                    <td>{{ v.pe }}</td>
                                    <td>{{ v.sqe }}</td>
                                    <td>{{ v.note }}</td>
                                    <td><input type="text" style="width: 95%;height: 40px;border: none"></td>
                                </tr>
                            {{# }); }}
                        </script>

                    </table>
                </div>
            </div>
            <!--数据查找-->
            <div class="d8-data-select">
                <div>
                    <button id="d8-btn-data-select">数据查找</button>
                    <div class="row-line"></div>
                </div>

                <div class="d8-data-select-table">
                    <div class="d8-select-inputShow" id="qqqqqqq">
                    </div>
                    <table style="width: 100%;margin: 0 0 0 2%">
                        <tr>
                            <td class="d8-data-select-table-item" style="width: 8%">项目类型：</td>
                            <td class="d8-data-select-table-value"><input type="text"></td>
                            <td class="d8-data-select-table-item">项目年份：</td>
                            <td class="d8-data-select-table-value"><input type="text"></td>
                            <td class="d8-data-select-table-item">项目车型/机型：</td>
                            <td class="d8-data-select-table-value"><select style="width: 98%;height:60%;" id="d8-data-selsel"></select></td>
                            <td class="d8-data-select-table-item">项跟踪表单号：</td>
                            <td class="d8-data-select-table-value"><input type="text"></td>
                            <td class="d8-data-select-table-item" style="width: 6%">动力：</td>
                            <td class="d8-data-select-table-value"><input type="text"></td>
                        </tr>
                        <tr>
                            <td class="d8-data-select-table-item" style="width: 8%">配置：</td>
                            <td class="d8-data-select-table-value"><input type="text"></td>
                            <td class="d8-data-select-table-item">BETA/OTS1：</td>
                            <td class="d8-data-select-table-value"><input type="text"></td>
                            <td class="d8-data-select-table-item">GAMMA/OTS2：</td>
                            <td class="d8-data-select-table-value"><input type="text"></td>
                            <td class="d8-data-select-table-item">3C：</td>
                            <td class="d8-data-select-table-value"><input type="text"></td>
                            <td class="d8-data-select-table-item" style="width: 6%">Piolt/S：</td>
                            <td class="d8-data-select-table-value"><input type="text"></td>
                        </tr>
                        <tr>
                            <td class="d8-data-select-table-item" style="width: 8%">SOP：</td>
                            <td class="d8-data-select-table-value"><input type="text"></td>
                            <td class="d8-data-select-table-item">项目管理员：</td>
                            <td class="d8-data-select-table-value"><input type="text"></td>
                            <td class="d8-data-select-table-item">项目状态：</td>
                            <td class="d8-data-select-table-value"><input type="text"></td>
                            <td class="d8-data-select-table-item">状态：</td>
                            <td class="d8-data-select-table-value"><input type="text"></td>
                            <td style="" colspan="2" >
                                <button class="layui-btn layui-btn-sm layui-btn-primary" style="float: right;">重置</button>
                                <button class="layui-btn layui-btn-sm layui-btn-normal" style="float: right;margin: 0 5px 0 0">查询</button>
                                <button class="d8-hidden-select-btn">收起搜索</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--项目单列表-->
            <div class="d8-menu-list">
                <div>
                    <button>项目单列表</button>
                    <div class="row-line" style="width: 40%"></div>
                    <div style="display: inline-block;float: right;width: 50%;">
                        <button class="d8-menu-list-btn" id="d8-menu-list-btn-4"><img src="../../assets/images/fileType/testYb/a.png">导出项目墙列表</button>
                        <button class="d8-menu-list-btn" id="d8-menu-list-btn-3"><img src="../../assets/images/fileType/testYb/a.png">导出项目跟踪单</button>
                        <button class="d8-menu-list-btn" id="d8-menu-list-btn-2"><img src="../../assets/images/fileType/testYb/a.png">项目跟踪单详情</button>
                        <button class="d8-menu-list-btn" id="d8-menu-list-btn-1"><img src="../../assets/images/fileType/testYb/a.png">导入项目跟踪表</button>
                    </div>
                </div>
                <!--表操作按钮-->
                <div style="margin: 1% 0 0 0">
                    <button class="layui-btn layui-btn-sm layui-btn-normal" id="d8-btn-menu-add">新增</button>
                    <button class="layui-btn layui-btn-sm layui-btn-normal" id="d8-btn-menu-del">删除</button>
                    <button class="layui-btn layui-btn-sm layui-btn-normal" id="d8-btn-menu-rel">发布任务</button>
                </div>

                <div class="d8-menu-list-table">
                    <table border="1" style="width: 2000px;">
                        <tr class="d8-menu-list-table-head">
                            <th style="min-width: 25px;" class="d8-menu-table-bg-1"></th>
                            <th style="min-width: 35px;" class="d8-menu-table-bg-1">序号</th>
                            <th class="d8-menu-table-bg-1">*项目车型/机型</th>
                            <th class="d8-menu-table-bg-1">动力</th>
                            <th class="d8-menu-table-bg-1">配置</th>
                            <th class="d8-menu-table-bg-1">BETA/OTS1</th>
                            <th class="d8-menu-table-bg-1">GAMMA/OTS2</th>
                            <th class="d8-menu-table-bg-1">3C Piolt/NS</th>
                            <th class="d8-menu-table-bg-1">Piolt/S</th>
                            <th class="d8-menu-table-bg-1">SOP</th>
                            <th style="min-width: 90px;" class="d8-menu-table-bg-1">项目管理员</th>
                            <th style="min-width: 100px;" class="d8-menu-table-bg-2">项目跟踪表编号</th>
                            <th class="d8-menu-table-bg-2">产能需求</th>
                            <th style="min-width: 90px;" class="d8-menu-table-bg-2">*项状态标识</th>
                            <th style="min-width: 90px;" class="d8-menu-table-bg-2">项目管理员</th>
                            <th class="d8-menu-table-bg-2">项目总监</th>
                            <th style="min-width: 90px;" class="d8-menu-table-bg-2">TDC平台总工</th>
                            <th class="d8-menu-table-bg-2">差旅WBS</th>
                            <th class="d8-menu-table-bg-2">状态</th>
                        </tr>
                        <!--新增一行-->
                        <script type="text/html" id="d8ScrAddRow">
                            <tr class="d8-menu-list-table-row">
                                <td><input type="radio" name="d8-menu-table-rad" id="{{ d.id }}"></td>
                                <td><span name="d8-menu-table-num"></span></td>
                                <td><input type="text" value="{{ d.a }}"></td>
                                <td><input type="text" value="{{ d.b }}"></td>
                                <td><input type="text" value="{{ d.c }}"></td>
                                <td><input type="text" value="{{ d.d }}"></td>
                                <td><input type="text" value="{{ d.e }}"></td>
                                <td><input type="text" value="{{ d.f }}"></td>
                                <td><input type="text" value="{{ d.g }}"></td>
                                <td><input type="text" value="{{ d.h }}"></td>
                                <td><select name="d8-menu-table-proAdmin"></select></td>
                                <td>{{ d.j }}</td>
                                <td><input type="text" value="{{ d.k }}"></td>
                                <td><select name="d8-menu-table-state"></select></td>
                                <td><select name="d8-menu-table-proAdmin"></select></td>
                                <td><input type="text" value="{{ d.n }}"></td>
                                <td>{{ d.o }}</td>
                                <td><input type="text" value="{{ d.p }}"></td>
                                <td>{{ d.q }}</td>
                            </tr>
                        </script>
                        <!--加载现有数据-->
                        <script type="text/html" id="d8ScrData">
                            {{# var da = d.data.list; }}
                            {{# layui.each(da,function(i,v){ }}
                                <tr class="d8-menu-list-table-row">
                                    <td><input type="radio" name="d8-menu-table-rad" id="{{ v.id }}"></td>
                                    <td><span name="d8-menu-table-num"></span></td>
                                    <td><input type="text" value="{{ v.a }}"></td>
                                    <td><input type="text" value="{{ v.b }}"></td>
                                    <td><input type="text" value="{{ v.c }}"></td>
                                    <td><input type="text" value="{{ v.d }}"></td>
                                    <td><input type="text" value="{{ v.e }}"></td>
                                    <td><input type="text" value="{{ v.f }}"></td>
                                    <td><input type="text" value="{{ v.g }}"></td>
                                    <td><input type="text" value="{{ v.h }}"></td>
                                    <td><select name="d8-menu-table-proAdmin"></select></td>
                                    <td>{{ v.j }}</td>
                                    <td><input type="text" value="{{ v.k }}"></td>
                                    <td><select name="d8-menu-table-state"></select></td>
                                    <td><select name="d8-menu-table-proAdmin"></select></td>
                                    <td><input type="text" value="{{ v.n }}"></td>
                                    <td>{{ v.o }}</td>
                                    <td><input type="text" value="{{ v.p }}"></td>
                                    <td>{{ v.q }}</td>
                                </tr>
                            {{# }); }}
                        </script>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use('laytpl',function () {
        var laytpl = layui.laytpl,
            $ = layui.$,
            layer = layui.layer;


        //新增项目单列表
        $('#d8-btn-menu-add').click(function () {
            var da = {"id":"","a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":""};
            laytpl(d8ScrAddRow.innerHTML).render(da,function(html){
                $('#d8ScrAddRow').after(html);
            });
            initSelect();
            initMenuNum();
        });
        //加载项目单列表
        $.ajax({
            type: 'get',
            url: '../../api/testYb/menuManage.json',
            dataType: 'json',
            success: function (data) {
                laytpl(d8ScrData.innerHTML).render(data,function (html) {
                    $('#d8ScrData').after(html);
                });
                initSelect();
                initMenuNum();
            }
        });
        
        //加载项目单列表序号
        function initMenuNum() {
            var nums = $('span[name=d8-menu-table-num]');
            $.each(nums,function(i,v){
                $(v).text(i+1);
            });

        }

        var initoption1 = [{"name":"张三","id":"1"},{"name":"李四","id":"2"},{"name":"王五","id":"3"}];
        var initoption2 = [{"id":"1","state":"开发中"},{"id":"2","state":"已投产"},{"id":"1","state":"取消"},{"id":"1","state":"暂停"}];
        //初始化项目单列表下拉框
        function initSelect() {
            $('select[name=d8-menu-table-proAdmin]').append("<option value=''>请选择</option>");
            $.each(initoption1,function (i,v) {
                $('select[name=d8-menu-table-proAdmin]').append("<option value='" + v.id + "'>" + v.name + "</option>");
            });
            $('select[name=d8-menu-table-state]').append("<option value=''>请选择</option>");
            $.each(initoption2,function (i,v) {
                $('select[name=d8-menu-table-state]').append("<option value='" + v.id + "'>" + v.state + "</option>");
            });
        }

        var mesageNum = 0; //消息条数
        //加载待处理消息列表
        $.ajax({
            type: 'get',
            url: '../../api/testYb/menuMessage.json',
            dataType: 'json',
            success: function (data) {
                mesageNum = data.data.count;
                laytpl(d8MessageRow.innerHTML).render(data,function (html) {
                    $('#d8MessageRow').after(html);
                });
            }
        });

        var isMessageHidden = false; //消息提醒显隐标识
        //消息提醒显隐
        $('#d8-btn-message').click(function(){
                var heig = mesageNum*45 + 90;
            if (isMessageHidden){
                $('.d8-message-remind-content>table').css({'display':'none'});
                $('.d8-message-remind-content').css({'border':'none'});
                $('.d8-message-remind-content').animate({width: 0,height: 0,margin: 0},500);
                isMessageHidden = false;
            }else{
                $('#d8-span-message-num').text(mesageNum);
                $('.d8-message-remind-content').animate({width: '96%',height: heig,margin: '1% 1.5% 0 1.5%'},500);
                $('.d8-message-remind-content').css({'border':'2px solid #0078FF'});
                $('.d8-message-remind-content>table').css({'display':''});
                isMessageHidden = true;
            }
        });

        //数据查找显隐
        $('#d8-btn-data-select').click(function () {
            $('.d8-data-select-table>table').css('display','');
            $('.d8-data-select-table').css('border-left','1px solid #000000');
            $('.d8-data-select-table').animate({width: '95%',height: 135,margin: '5px 2% 0 2%','border-left': '1px solid #000000'},500);
        });
        $('.d8-hidden-select-btn').click(function () {
            $('.d8-data-select-table>table').css('display','none');
            $('.d8-data-select-table').css('border','none');
            $('.d8-data-select-table').animate({width: 0,height: 0,margin: 0},500);
        });

        //导入项目跟踪表
        {
            $('#d8-menu-list-btn-1').click(function () {
                layer.confirm('导入项目跟踪表',{title: '请选择导入模版',btn: ['确定','取消']});
            });
            $('#d8-menu-list-btn-2').click(function () {
                layer.confirm('查看项目跟踪表',{title: '请选择项目跟踪表查看',btn: ['确定','取消']});
            });
            $('#d8-menu-list-btn-3').click(function () {
                layer.confirm('导出项目跟踪表',{title: '请选择导出模版',btn: ['确定','取消']});
            });
        }

        //删除按钮
        $('#d8-btn-menu-del').click(function () {
            layer.confirm('确定删除？',{title: '删除',btn: ['删除','取消']});
        })

        //及时搜索模拟数据
        var ddd = ['abc','bcd','cde','def','efg','fgh','ghi','hig','igk','gkl','klm','lmn','mno','nop','opr'];
        //及时搜索
        var thisInput;
        $('.d8-data-select-table-value>input').keyup(function () {
            thisInput = this;
            $('.d8-select-inputShow').empty();
            var inputTop = $(this).offset().top;
            var inputLeft = $(this).offset().left;
            jsSelect($(this).val());
            $('.d8-select-inputShow').css({'left': inputLeft-242,'top': inputTop-70,'display':'inherit'});
            var d8zzz = $('.d8-select-inputShow-item');
            console.log(d8zzz.length);

        });
        //输入框匹配
        function jsSelect(val) {
            var is = false;
            if(val === null || val === '') return;
            $.each(ddd,function (i,v) {
                if (v.indexOf(val)>=0){
                    $('.d8-select-inputShow').append('<div class="d8-select-inputShow-item">' + v + '</div>');
                    is = true;
                }
                if(i === ddd.length-1 && !is) $('.d8-select-inputShow').append('<div>无匹配项</div>');
            });
        }

        //点击选项
        $('#qqqqqqq').on('click','.d8-select-inputShow-item',function () {
            var text = $(this).text();
            $(thisInput).val(text);
            $('.d8-select-inputShow').css('display','none');
            $('.d8-select-inputShow').empty();
        });

        var initDataSelect = [{"name":"吉利","value":'a'},{"name":"奇瑞","value":'b'},{"name":"红旗","value":'b'}];
        $('#d8-data-selsel').append('<option>请选择</option>');
        $.each(initDataSelect,function (i,v) {
            $('#d8-data-selsel').append('<option value="'+v.value+'">'+v.name+'</option>');
        })
    });
</script>